<div id="video-insta-if" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <iframe width="{{ width }}" height="{{ height }}" src="https://instagram{{ video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<video id="video-with-prev" width="{{ width }}" height="{{ height }}" src="https://instagram{{ video_id }}" controls></video>


